
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/

.shipping-banner {
	position: absolute;
	left: 4.375rem;
	top: 5.625rem;	
}

.link-icon {
	background-image: url(../images/icons/link.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 2.5625rem;
	height: 2.5625rem;

	&.black {
		background-image: url(../images/icons/link_black.png);
	}
}


.about-us-link {
	padding: 1.2rem 3rem;
	background-color: $theme-color;
	color: white;
	text-decoration: none;
	font-size: .875rem;
	display: inline-block;
}

#about-top {
	padding: 8rem 0;

	h2 {
		font-size: 6.25rem;
		line-height: 1.15;
	}

	@include media-breakpoint-down(lg) {
		padding: 4rem 0;
	}
	
	@include media-breakpoint-down(sm) {
		h2 {
			font-size: 3.25rem;
		}
	}
}

.slick-slide {
	margin: 2rem 0;
}

.slick-list {
	padding: 0 !important;
}

.slick-slide {
	opacity: 0.3;
	transition: opacity 0.3s;
	// width: 600px !important;

	&:not(.slick-current) {
		opacity: 0.3;
		transition: opacity 0.3s;
		-webkit-transform: scale(0.75);
		-moz-transform: scale(0.75);
		transform: scale(0.75);
	}

	&.slick-current.slick-active {
		opacity: 1;
		transition: opacity 0.3s;
	}
}

.slick-center {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	transform: scale(1.25);
}

.slick-prev, .slick-next {
	top: 15rem;
	z-index: 2;

	&:before {
		color: $dark;
	}
}

.slick-prev {
	left: 8rem;
}

.slick-next {
	right: 8rem;
}