
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/
.container-fluid {
	overflow: hidden;
}


.about-us-link {
	padding: 1.2rem 3rem;
	background-color: $theme-color;
	color: white;
	text-decoration: none;
	font-size: .875rem;
	display: inline-block;
}

#about-top {
	padding: 8rem 0;

	h2 {
		font-size: 6.25rem;
		line-height: 1.15;
	}

	@include media-breakpoint-down(lg) {
		padding: 4rem 0;
	}
	
	@include media-breakpoint-down(sm) {
		h2 {
			font-size: 3.25rem;
		}
	}
}

.slick-prev, .slick-next {
	top: 15rem;
	z-index: 2;

	&:before {
		color: $dark;
	}
}

.slick-prev {
	left: 8rem;
}

.slick-next {
	right: 8rem;
}