
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/

// Textarea
textarea {
    resize: none;
}

// Form label
.form-label {
    font-size: 0.875rem;
    color: #7c7b7a;
}

#contact {
    input {
        border-color: #c1c1c1;
    }
}