
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/

#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background-color: #857db8;
		z-index: 199;

		@include media-breakpoint-up(lg) {
			background-color: transparent;

			& + #content,
			& + #contact-info,
			& + #error-404 {
				position: relative;
				top: -$header-height;
				margin-bottom: -$header-height;
			}
		}			
	}
}



/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/

#header-wrap {
	padding-left: 2.8125rem;
	padding-right: 2.8125rem;
}


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/
.navbar {
	padding-top: 1rem;
    padding-bottom: 1.25rem;
}

.navbar-brand {

	img {
		width: 100%;
		height: auto;
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	width:60%;

	.nav-link {
		color: $primary-menu-font-color;
		font-family: 'Inter', sans-serif;
		font-size: 0.925rem;
		font-weight: $primary-menu-font-weight;		
		letter-spacing: $primary-menu-font-spacing;
		text-transform: $primary-menu-font-tt;
	}

	.nav-item {
		&.current,
		&:hover {
			a {
				color: $theme-color;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {
	.nav-item {
		margin-right: 1rem;
		
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
	}

	.nav-link {
		color: $dark;		
		font-size: $h6-font-size;	
		line-height: 1;

		&:hover {
			color: $theme-color;
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	a.nav-link {
		color: $dark;
		display: block;
		font-size: $h6-font-size;	
		border-left: 1px solid #c5dee6;
		padding-left: 2.5rem;

		@include media-breakpoint-up(lg) {
			padding-top: 0;	
			padding-bottom: 0;	
		}
		

		&:hover {
			color: $theme-color;
		}
	}
}


/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/

#top-infos {
	display: flex;

	.phone-number {
		margin-right: 2.875rem;
		
		a {
			color: $topbar-color;
			margin-left: 1.75rem;

			&:hover {
				color: $topbar-hover-color;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/

#top-social,
#top-social ul { margin: 0; }

#top-social {
	ul {
		display: flex;
		align-items: center;
	}

	li {
		padding: 0 0.25rem;

		a {
			background-color: rgba($topbar-color, 0.7);
			border-radius: 50%;
			color: rgba($topbar-hover-color, 0.7);
			display: inline-block;
			line-height: 1.8125rem;
			width: 1.8125rem;
			height: 1.8125rem;		
			vertical-align: middle;
			text-align: center;

			&:hover {
				color: $topbar-hover-color;
			}

			i {
				vertical-align: top;
				line-height: 1.8125rem;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Login
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/






