
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		line-height: 1.1;
		font-weight: 300;
	}
}

.breadcrumb {
	li {
		a {
			font-weight: 300;
			font-size: 0.875rem;
			color: #7f7f7f;
			text-decoration: none;

			&.active {
				color: $dark;
			}
		}

		&:nth-child(1) {
			&:after {
				background-color: #e7e7e7;
				content: "";
				display: inline-block;
				height: 1.5rem;
				position: relative;
				vertical-align: middle;
				width: 1px;
				margin-left: 1rem;
				margin-right: 1rem;
			}
		}
	}
}