
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 1.875rem; 
	position: relative;

	.title {
		color: $dark;
		font-weight: 300;
		line-height: 1.2;
	}

	.sub-title {
		font-size: 1.125rem;
		color:#acaeaf;
		line-height: 1.5rem;
	}

	.category-link {
		font-size: 0.875rem;
		font-weight: 300;
		padding: 1.5rem 3rem;
		background-color: $theme-color;
		color: $white;
		text-decoration: none;
	}
}