
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 1.25rem; 
	position: relative;

	.title {
		color: $dark;
		font-family: $heading-font;
		font-weight: 300;
		line-height: 1.2;
	}

	.sub-title {
		font-size: 1.125rem;
		color:#acaeaf;
		line-height: 1.5rem;
	}

	.category-link {
		font-family: $body-font;
		font-size: 0.875rem;
		font-weight: 300;
		padding: 1.5rem 3rem;
		background-color: $theme-color;
		color: $white;
		text-decoration: none;
	}

	.heading-arrow {
		a {
			text-decoration: none;
			color: #e5e5e5;
			font-size: 1.75rem;

			&:hover {
				color: $theme-color;
			}
		}
	}
}